# L07-Assignment
## Assignment Instructions

* Complete all cells as instructed, replacing any ??? with the appropriate code

* Execute Jupyter **Kernel** > **Restart & Run All** and ensure that all code blocks run without error

* Do not load any additional libraries. You must use the libraries in the Load Libraries cell provided.

* Meet all of the assignment objectives described below

* Jupyter Notebook cells can be added and inserted as desired

# Assignment objectives

Analyze diamonds. This includes:

* 1 point - All code blocks run without error. Jupyter **Kernel** > **Restart & Run All**
* 1 point - Complete the template cells
* 1 point - Include the following R Features at least once. You are not limited to these, only by the libraries loaded.
* 1 point - Include a written analysis of statistically significant features around the diamonds's price referencing the t-tests as evidence of your conclusions.

The above is what is required to achieve full credit for the assignment. You are welcome and encouraged to go above and beyond these requirements, just be sure these requirements are fully met first. 


## R Features
* t.test()
* one-sided test
* two-sided test
* test that includes a factor variable


## Datasets
* diamonds

In [11]:
# Load libraries
# Do not load any additional libraries other than what is provided in this template
library(tidyverse)

In [12]:
# Explore data structure
# Data: diamonds
diamonds %>% glimpse() %>% summary()

# Display help on data
? diamonds

Observations: 53,940
Variables: 10
$ carat   <dbl> 0.23, 0.21, 0.23, 0.29, 0.31, 0.24, 0.24, 0.26, 0.22, 0.23, 0…
$ cut     <ord> Ideal, Premium, Good, Premium, Good, Very Good, Very Good, Ve…
$ color   <ord> E, E, E, I, J, J, I, H, E, H, J, J, F, J, E, E, I, J, J, J, I…
$ clarity <ord> SI2, SI1, VS1, VS2, SI2, VVS2, VVS1, SI1, VS2, VS1, SI1, VS1,…
$ depth   <dbl> 61.5, 59.8, 56.9, 62.4, 63.3, 62.8, 62.3, 61.9, 65.1, 59.4, 6…
$ table   <dbl> 55, 61, 65, 58, 58, 57, 57, 55, 61, 61, 55, 56, 61, 54, 62, 5…
$ price   <int> 326, 326, 327, 334, 335, 336, 336, 337, 337, 338, 339, 340, 3…
$ x       <dbl> 3.95, 3.89, 4.05, 4.20, 4.34, 3.94, 3.95, 4.07, 3.87, 4.00, 4…
$ y       <dbl> 3.98, 3.84, 4.07, 4.23, 4.35, 3.96, 3.98, 4.11, 3.78, 4.05, 4…
$ z       <dbl> 2.43, 2.31, 2.31, 2.63, 2.75, 2.48, 2.47, 2.53, 2.49, 2.39, 2…

     carat               cut        color        clarity          depth
 Min.   :0.2000   Fair     : 1610   D: 6775   SI1    :13065   Min.   :43.00
 1st Qu.:0.4000   Good     : 4906   E: 9797   VS2    :12258   1st Qu.:61.00
 Median :0.7000   Very Good:12082   F: 9542   SI2    : 9194   Median :61.80
 Mean   :0.7979   Premium  :13791   G:11292   VS1    : 8171   Mean   :61.75
 3rd Qu.:1.0400   Ideal    :21551   H: 8304   VVS2   : 5066   3rd Qu.:62.50
 Max.   :5.0100                     I: 5422   VVS1   : 3655   Max.   :79.00
                                    J: 2808   (Other): 2531
     table           price             x                y
 Min.   :43.00   Min.   :  326   Min.   : 0.000   Min.   : 0.000
 1st Qu.:56.00   1st Qu.:  950   1st Qu.: 4.710   1st Qu.: 4.720
 Median :57.00   Median : 2401   Median : 5.700   Median : 5.710
 Mean   :57.46   Mean   : 3933   Mean   : 5.731   Mean   : 5.735
 3rd Qu.:59.00   3rd Qu.: 5324   3rd Qu.: 6.540   3rd Qu.: 6.540
 Max.   :95.00   Max.   :18823   Max.   :10.740   Max.   :58.900

       z
 Min.   : 0.000
 1st Qu.: 2.910
 Median : 3.530
 Mean   : 3.539
 3rd Qu.: 4.040
 Max.   :31.800

# Data processing
Create a new data frame(s) with appropriate data types and data cleaning for the data.

In [13]:
# Placeholder cell to create your own data frames from the source data
diamonds_df <- diamonds

diamond_df <- diamonds_df %>% 
    mutate_if(is.character, as.factor)%>% 
    arrange(price)

diamonds_df %>% head(5)

diamonds_df %>% str()

  carat cut     color clarity depth table price x    y    z
1 0.23  Ideal   E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good    E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good    J     SI2     63.3  58    335   4.34 4.35 2.75

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	53940 obs. of  10 variables:
 $ carat  : num  0.23 0.21 0.23 0.29 0.31 0.24 0.24 0.26 0.22 0.23 ...
 $ cut    : Ord.factor w/ 5 levels "Fair"<"Good"<..: 5 4 2 4 2 3 3 3 1 3 ...
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 2 2 2 6 7 7 6 5 2 5 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 2 3 5 4 2 6 7 3 4 5 ...
 $ depth  : num  61.5 59.8 56.9 62.4 63.3 62.8 62.3 61.9 65.1 59.4 ...
 $ table  : num  55 61 65 58 58 57 57 55 61 61 ...
 $ price  : int  326 326 327 334 335 336 336 337 337 338 ...
 $ x      : num  3.95 3.89 4.05 4.2 4.34 3.94 3.95 4.07 3.87 4 ...
 $ y      : num  3.98 3.84 4.07 4.23 4.35 3.96 3.98 4.11 3.78 4.05 ...
 $ z      : num  2.43 2.31 2.31 2.63 2.75 2.48 2.47 2.53 2.49 2.39 ...

In [14]:
# determine summary stats for the entire sample 

mean_df <- diamonds_df %>% select_if(is.numeric)%>%summarize_all(mean)
mean_df

sd_df <- diamonds_df %>% select_if(is.numeric)%>%summarize_all(sd)
sd_df

  carat     depth   table    price  x        y        z
1 0.7979397 61.7494 57.45718 3932.8 5.731157 5.734526 3.538734

  carat     depth    table    price   x        y        z
1 0.4740112 1.432621 2.234491 3989.44 1.121761 1.142135 0.7056988

In [15]:
get_distplot <- function(data){
    
    numeric_df <- data %>% select_if(is.numeric)
    
    for (col in numeric_df %>% names()){
        
        plt <- numeric_df%>% ggplot(mapping = aes_string(x = col)) +
                        geom_density(alpha = 0.7)+
                        theme_classic()+
                        labs(title = str_c("Distribution Plot of ", col))
         plt %>% print()
        }
                              

   
}

In [16]:
# Separate the diamonds data into two sets 

df_DiamondsD <- diamonds_df %>% filter(color == 'D')

df_DiamondsJ <- diamonds_df %>% filter(color == 'J')

# Get the mean and standard deviation
# Round to 1 decimal places

diamond_D_mean <- df_DiamondsD$price %>% mean () %>% round(1)
diamond_D_sd <- df_DiamondsD$price %>% sd() %>% round(1)


diamond_J_mean <- df_DiamondsJ$price %>% mean () %>% round(1)
diamond_J_sd <- df_DiamondsJ$price %>% sd() %>% round(1)


# Print results
cat(str_c("\'D\' colored diamonds: mean = ", diamond_D_mean, " and standard deviation = ", diamond_D_sd))

cat('\n')

cat(str_c("\'J\' colored diamonds: mean = ", diamond_J_mean, " and standard deviation = ", diamond_J_sd))

'D' colored diamonds: mean = 3170 and standard deviation = 3356.6
'J' colored diamonds: mean = 5323.8 and standard deviation = 4438.2

# Two-Sided Test

Question: Is there a statistically significant difference in mean sale prices between 'D' Color Diamonds & 'J' Color Diamonds?

$H_0: \mu{colorD} = \mu{ColorJ}$

$H_A: \mu{colorD} \ne \mu{ColorJ}$


(Note that this is the same as $\mu_{colorJ} - \mu_{colorJ} = 0$).


Assumptions:

    Two normally distributed independent populations
    Population variances are unknown and not assumed to be equal

In [17]:
# Perform a two sample, two-sided t-test, on Price for 'D' Colored Diamonds and 'E' Colored
# Confidence level: 95%
cat("\n**** 'D Color Price' != 'J Color Price' ****")
t.test(df_DiamondsD$price, df_DiamondsJ$price, conf.level = 0.95 , alternative="two.sided")


cat("\n**** J > D ****")
# Run the one-sided test where J > D for comparison
t.test(df_DiamondsJ$price, df_DiamondsD$price, conf.level = 0.95, alternative = "greater" )

**** 'D Color Price' != 'J Color Price' ****

	Welch Two Sample t-test

data:  df_DiamondsD$price and df_DiamondsJ$price
t = -23.121, df = 4197.9, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -2336.496 -1971.232
sample estimates:
mean of x mean of y
 3169.954  5323.818

**** J > D ****

	Welch Two Sample t-test

data:  df_DiamondsJ$price and df_DiamondsD$price
t = 23.121, df = 4197.9, p-value < 2.2e-16
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 2000.605      Inf
sample estimates:
mean of x mean of y
 5323.818  3169.954

`Result:`  We can reject the null hypothesis (difference of means are 0).  The mean price of a J diamond is greater than D.

# One-sided test

In the last exercise we performed a two-sample, two-sided t-test. Now suppose that your hypothesis specifies which mean you expect to be larger. For example, suppose you want to test whether the mean price in Somerst is larger than the mean price in Old Town.

Null hypothesis:
$H_0: \mu(Ideal) = \mu(Premium)$

Alternative hypothesis (one-sided):
$H_A: \mu(Premium) \gt \mu(Ideal)$

This one-sided test has only one rejection region, in the the upper tail of the distribution of the difference in group means. The probability in this tail is .05.

In [18]:
# Separate the diamonds data into two sets 

df_Ideal <- diamonds_df %>% filter(cut == 'Ideal')

df_Premium <- diamonds_df %>% filter(cut == 'Premium')

# Get the mean and standard deviation
# Round to 1 decimal places

diamond_ideal_mean <- df_Ideal$price %>% mean () %>% round(1)
diamond_ideal_sd <- df_Ideal$price %>% sd() %>% round(1)


diamond_premium_mean <- df_Premium$price %>% mean () %>% round(1)
diamond_premium_sd <- df_Premium$price %>% sd() %>% round(1)


# Print results
cat(str_c("\'D\' Ideal diamonds: mean = ", diamond_ideal_mean, " and standard deviation = ", diamond_ideal_sd))

cat('\n')

cat(str_c("\'E\' Premium diamonds: mean = ", diamond_premium_mean, " and standard deviation = ", diamond_premium_sd))

'D' Ideal diamonds: mean = 3457.5 and standard deviation = 3808.4
'E' Premium diamonds: mean = 4584.3 and standard deviation = 4349.2

Note: since the standard deviations are far apart, it looks promising that Premium cut diamonds are going to have a higher mean price.

In [19]:
# Perform a two-sample, one-sided t-test, on price for Ideal and Premium Diamonds
# Alternate hypotheis: Ideal (first sample) is LESS than Premium (second sample)
# Confidence level: 95%

cat("\n**** Ideal < Premium ****")
t.test(df_Ideal$price, df_Premium$price, conf.level = 0.95, alternative = "less" )

cat("\n**** Ideal != Premium ****")
# Run the two-sided test for comparison
t.test(df_Ideal$price, df_Premium$price, conf.level = 0.95, alternative = "two.sided" )

cat("\n**** Ideal > Premium ****")
# Run the one-sided test where Ideal > Premium for comparison
t.test(df_Ideal$price, df_Premium$price, conf.level = 0.95, alternative = "greater" )

**** Ideal < Premium ****

	Welch Two Sample t-test

data:  df_Ideal$price and df_Premium$price
t = -24.918, df = 26552, p-value < 2.2e-16
alternative hypothesis: true difference in means is less than 0
95 percent confidence interval:
      -Inf -1052.337
sample estimates:
mean of x mean of y
 3457.542  4584.258

**** Ideal != Premium ****

	Welch Two Sample t-test

data:  df_Ideal$price and df_Premium$price
t = -24.918, df = 26552, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1215.344 -1038.088
sample estimates:
mean of x mean of y
 3457.542  4584.258

**** Ideal > Premium ****

	Welch Two Sample t-test

data:  df_Ideal$price and df_Premium$price
t = -24.918, df = 26552, p-value = 1
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 -1201.094       Inf
sample estimates:
mean of x mean of y
 3457.542  4584.258

`Result:` Premium cut diamonds do carry an average sales price that is higher over ideal cut diamonds.

# t test using factors 

Question: Is clarity a significant factor in driving price?

Notes:
I chose SI1 because it had the highest count and VVS1 had the lowest, and there fore is more rare.

In [23]:
# Perform t.test using factors (note: can only have two levels)
df_clarity <- diamonds_df %>% 
   filter(clarity %in% c("SI1", "VVS1"))

cat("\n****SI1 != VS1****")
t.test(price ~ clarity, data = df_clarity)

df_SI1 <- df_clarity %>% 
    filter(clarity == 'SI1')

df_VVS1 <- df_clarity %>% 
    filter(clarity == 'VVS1')

cat("\n****SI1 > VS1****")
t.test(df_SI1$price, df_VVS1$price, conf.level = 0.95, 'greater')

****SI1 != VS1****

	Welch Two Sample t-test

data:  price by clarity
t = 22.87, df = 6548.2, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 1346.637 1599.136
sample estimates:
 mean in group SI1 mean in group VVS1
          3996.001           2523.115

****SI1 > VS1****

	Welch Two Sample t-test

data:  df_SI1$price and df_VVS1$price
t = 22.87, df = 6548.2, p-value < 2.2e-16
alternative hypothesis: true difference in means is greater than 0
95 percent confidence interval:
 1366.939      Inf
sample estimates:
mean of x mean of y
 3996.001  2523.115

Result: We reject the null hypothesis and accept the alternative that the two population means are not the same.

# Analysis and Conclusions

Cut, clarity, and color were all significant in the price of diamonds. The less common the color, cut, and clarity  the greater the price.   J colored Diamonds carried a mean price greater than 'D' colored diamonds.  Likewise, the more scarce SI1 clarity had a greater mean price than the VS1 clarity diamonds. Premium cut diamonds had a higher mean price than the Ideal cut diamonds.